.tox.tox-tinymce-aux {
  & .tox-dialog-wrap__backdrop,
  & > .tox-dialog-wrap > .tox-dialog,
  & > .tox-pop > .tox-pop__dialog {
    border: none;
    backdrop-filter: var(--the-blur);
    box-shadow: var(--the-box-shadow);
    background-color: var(--white-background);
    & > .tox-dialog__header,
    & > .tox-dialog__footer {
      color: var(--dark-text-color);
      background-color: var(--major-background);
      & .tox-button {
        border: none;
        color: var(--dark-text-color);
        backdrop-filter: var(--the-blur);
        box-shadow: var(--the-box-shadow);
        border-radius: var(--the-border-radius);
        background-color: var(--chosen-background);
      }
      & .tox-button--secondary {
        background-color: var(--gray-background);
      }
    }
    & > .tox-dialog__content-js {
      & > .tox-label {
        color: var(--main-text-color);
      }
    }
  }
  & > div {
    & > .tox-toolbar__overflow,
    & > .tox-tiered-menu > .tox-collection--list[role=menu] {
      backdrop-filter: var(--the-blur);
      box-shadow: var(--the-box-shadow);
      background-color: var(--white-background);
      & .tox-collection__item--active,
      & .tox-collection__item--enabled {
        background-color: var(--chosen-background);
      }
    }
  }
}
.tox[role=application], .tox.tox-tinymce {
  border: none;
  backdrop-filter: var(--the-blur);
  box-shadow: var(--the-box-shadow);
  border-radius: var(--the-border-radius);
  & div.tox-editor-header {
    box-shadow: var(--the-box-shadow);
    background-color: var(--major-background);
    & .tox-toolbar-overlord {
      background-color: transparent;
      & .tox-toolbar__primary {
        background-color: transparent;
        & button {
          font-size: 150%;
          & svg {
            fill: var(--dark-text-color);
          }
        }
      }
    }
  }
  & .tox-menu {
    box-shadow: var(--the-box-shadow);
    border-radius: var(--the-border-radius);
    & .tox-collection__group {
      background-color: transparent;
      & .tox-collection__item-label {
        background-color: transparent;
        font-size: 150%;
      }
      & .tox-collection__item--enabled {
        background-color: var(--chosen-background);
      }
    }
  }
  & .tox-edit-area__iframe {
    background-color: transparent;
  }
  & .tox-pop {
    color: var(--dark-text-color);
    box-shadow: var(--the-box-shadow);
    & .tox-pop__dialog {
      background-color: transparent;
    }
  }
}

.tox-toolbar__group {
  & > button.tox-tbtn--bespoke {
    background-color: var(--main-background);
    color: var(--dark-text-color);
    width: 100px;
  }
}
