@font-face {
  font-family: "TruculentaThin";
  src: url(/truculenta-300.ttf) format("truetype");
}

@font-face {
  font-family: "TruculentaThick";
  src: url(/truculenta-500.ttf) format("truetype");
}

* {
  --the-padding: 0.5rem;
  --the-big-padding: 1rem;
  --main-text-color: #003A0F;
  --dark-text-color: #00200F;
  --error-text-color: #3A2000;
  --gray-background: rgba(48,96,72,0.3);
  --white-background: rgba(225,255,245,0.3);
  --main-background: rgba(180,220,220,0.15);
  --major-background: rgba(83, 143, 94, 0.15);
  --error-background: rgba(143, 83, 94, 0.3);
  --chosen-background: rgba(48, 255, 148, 0.3);
  --the-font-family: Optima, Candara, sans-serif;
  --thin-font-family: "TruculentaThin", Helvetica, sans-serif;
  --thick-font-family: "TruculentaThick", Helvetica, sans-serif;
  --the-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.25),
                   -2px 4px 4px 0px rgba(0, 0, 0, 0.25),
                   inset 0px 0px 5px rgba(200, 255, 200, 0.25);
  --error-box-shadow: 0px 0px 3px 1px rgba(50, 80, 10, 0.25),
                     -2px 4px 4px 0px rgba(50, 80, 10, 0.25),
                     inset 0px 2px 8px rgba(180, 90, 20, 1.0),
                     inset 0px -2px 4px rgba(180, 60, 20, 1.0);
  --chosen-box-shadow: 0px 0px 3px 1px rgba(50, 80, 10, 0.25),
                     -2px 4px 4px 0px rgba(50, 80, 10, 0.25),
                     inset 0px 2px 12px rgba(48, 255, 180, 1.0),
                     inset 0px -2px 8px rgba(48, 255, 120, 1.0);
  --main-text-shadow: rgba(200, 255, 255, 0.75) 0 0 8px;
  --error-text-shadow: rgba(128, 60, 10, 0.75) 0 0 8px;
  --the-heading-margin: 0.5em 0;
  --the-border-radius: 0.25em;
  --the-hidden-opacity: 0.25;
  --the-blur: blur( 10px );
}

button {
  border: none;
  cursor: pointer;
}

.grid-row2 {
  grid-row: 3;
}

.grid-row2 {
  grid-row: 2;
}

.grid-row1 {
  grid-row: 1;
}

.display-none {
  display: none;
}

.content {
  display: contents;
}

.centered-content {
  grid-column: 2;
}

.centered {
  display: grid;
  place-content: center;
}

.centered.root.wrapper {
  grid-template-columns: 1fr auto 1fr;
  padding-bottom: 3rem;
}

.centered.root.index {
  height: 100%;
  grid-column: 2;
  align-content: start;
  gap: var(--the-padding);
  margin: 0rem 0.5rem 1rem 0.5rem;
  grid-template-rows: auto auto 1fr;
  grid-template-columns: minmax(75vw, 800px);
}
