div.calendar {
  & > div.calendar__navigation {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    font-family: var(--thin-font-family);
    grid-gap: 0.5rem;
    & > div {
      grid-template-rows: auto;
      grid-template-columns: 1fr auto 1fr;
      color: var(--main-text-color);
      box-shadow: var(--the-box-shadow);
      text-shadow: var(--basic-text-shadow);
      border-radius: var(--the-border-radius);
      background-color: var(--major-background);
      backdrop-filter: var(--the-blur);
      line-height: 50%;
      font-size: 150%;
      & > h2 {
        margin: var(--the-heading-margin);
      }
      & > button {
        border: none;
        color: inherit;
        cursor: pointer;
        font-size: 150%;
        background-color: transparent;
        text-shadow: var(--basic-text-shadow);
      }
    }
  }
  & table.calendar__grid {
    grid-auto-flow: row;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    font-family: var(--the-font-family);
    padding-top: var(--the-padding);
    display: grid;
    width: 100%;
    gap: 0.25em;
    & > thead {
      display: contents;
      & > tr {
        display: contents;
      }
    }
    & > tbody {
      display: contents;
      & > tr {
        display: contents;
      }
    }
    & > thead > tr > th {
      height: 2rem;
      line-height: 2rem;
      margin-top: 0.5rem;
      color: var(--darkest-text-color);
      box-shadow: var(--the-box-sladow);
      border-radius: var(--the-border-radius);
      background-color: var(--dull-background);
    }
    & button {
      color: var(--main-text-color);
      box-shadow: var(--the-box-shadow);
      font-family: var(--the-font-family);
      text-shadow: var(--basic-text-shadow);
      border-radius: var(--the-border-radius);
      background-color: var(--major-background);
      backdrop-filter: var(--the-blur);
      font-size: 140%;
      height: 2.5rem;
      padding: 0;
      width: 100%;
      & > span {
        pointer-events: none;
      }
    }
    & button[previous-month],
    & button[next-month] {
      background-color: var(--dull-background);
      color: var(--darkest-text-color);
    }
    & button[selected] {
      color: var(--darkest-text-color);
      box-shadow: var(--the-box-shadow);
      text-shadow: var(--basic-text-shadow);
      border-radius: var(--the-border-radius);
      background-color: var(--chosen-background);
      backdrop-filter: var(--the-blur);
    }
  }
}
