.root {
  padding: var(--the-padding);
  grid-template-columns: 1fr auto 1fr;
}

.nav.grid-row3 {
  grid-template-columns: 1fr 1fr;
}
.nav.grid-row1 {
  grid-template-columns: 1fr 2fr 1fr;
  & > div {
    font-size: 150%;
    cursor: default;
    box-shadow: none;
    background-color: transparent;
  }
}

.nav {
  cursor: pointer;
  font-size: 175%;
  gap: var(--the-padding);
  color: var(--main-text-color);
  font-family: var(--thick-font-family);

  & > div {
    text-align: center;
    padding: var(--the-padding);
    backdrop-filter: var(--the-blur);
    border-radius: var(--the-border-radius);
    background-color: var(--white-background);
    text-shadow: var(--main-text-shadow);
    box-shadow: var(--the-box-shadow);
    color: var(--main-text-color);
  }
}
