* {
  --main-text-color: #EEFFDD;
  --error-text-color: #600000;
  --darkest-text-color: #000000;
  --major-background: #277125;
  --dull-background: rgba(64,64,64,0.25);
  --chosen-background: rgba(255,255,255,0.99);
  --the-font-family: Optima, Candara, sans-serif;
  --the-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.25),
                   -3px 5px 6px 0px rgba(0, 0, 0, 0.25);
  --the-border-radius: 0.25em;
}

button {
  border: none;
  cursor: pointer;
}

.centered {
  display: grid;
  place-content: center;
}
