@font-face {
  font-family: "Truculenta";
  src: url(/truculenta.ttf) format("truetype");
}

* {
  --the-padding: 0.5em;
  --the-big-padding: 1.5em;
  --main-text-color: #004010;
  --darkest-text-color: #00200F;
  --dull-background: rgba(32,64,48,0.2);
  --basic-background: rgba(180,220,220,0.2);
  --major-background: rgba(83, 143, 94, 0.2);
  --chosen-background: rgba(48, 255, 148, 0.3);
  --the-font-family: Optima, Candara, sans-serif;
  --thin-font-family: "Truculenta", Helvetica, sans-serif;
  --the-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.25),
                   -2px 4px 4px 0px rgba(0, 0, 0, 0.25),
                   inset 0px 0px 5px rgba(200,255,200,0.25);
  --error-box-shadow: 0px 0px 3px 1px rgba(50, 0, 10, 0.25),
                     -2px 4px 4px 0px rgba(50, 0, 10, 0.25),
                     inset 0px -2px 5px rgba(255,80,100, 1.0);
  --basic-text-shadow: rgba(200, 255, 255, 0.75) 0 0 8px;
  --the-heading-margin: 0.5em 0;
  --the-border-radius: 0.25em;
  --the-blur: blur( 5px );
}

button {
  border: none;
  cursor: pointer;
}

.full-grid.content {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.row1-grid.centered-content {
  grid-column: 2;
  grid-row: 1;
}

.row2-grid.centered-content {
  grid-column: 2;
  grid-row: 2;
}

.centered {
  display: grid;
  place-content: center;
}

.centered.root.wrapper {
  grid-template-columns: 1fr auto 1fr;
}
.centered.root.index {
  height: 100%;
  grid-column: 2;
  align-content: start;
  grid-template-rows: auto 3fr 1fr;
  grid-template-columns: 1fr minmax(75vw, 800px) 1fr;
}

.centered.calendar.index {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto 1fr;
  padding: var(--the-big-padding);
  backdrop-filter: var(--the-blur);
  box-shadow: var(--the-box-shadow);
  border-radius: var(--the-border-radius);
  background-color: var(--basic-background);
}
