.calendar__grid {
  width: 100%;
}
.calendar__navigation {
  grid-gap: 0.5rem;
}
.calendar__navigation > div {
  grid-template-columns: 1fr auto 1fr;
}
.calendar__navigation > div > button {
  border: none;
  color: inherit;
  cursor: pointer;
  font-size: 140%;
  background-color: transparent;
}
table.calendar__grid button {
  font-size: 140%;
  height: 1.75em;
  width: 100%;
}
table.calendar__grid button > span {
  pointer-events: none;
}
