.root {
  padding: 0.5rem;
}

.square {
  padding: 1rem;
  font-size: 2rem;
  cursor: pointer;
  color: var(--main-text-color);
  box-shadow: var(--the-box-shadow);
  font-family: var(--the-font-family);
  border-radius: var(--the-border-radius);
}
