.root {
  padding: 0.5rem;
}

.root, .square {
  display: grid;
  place-content: center;
}

.square {
  color: white;
  cursor: pointer;
  padding: 1rem;
  font-size: 2rem;
  border-radius: 0.5rem;
  font-family: Optima, Candara, sans-serif;
}
