.root {
  padding: var(--the-padding);
}

.square {
  font-size: 2rem;
  cursor: pointer;
  padding: var(--the-padding);
  box-shadow: var(--the-box-shadow);
  font-family: var(--the-font-family);
  text-shadow: var(--basic-text-shadow);
  border-radius: var(--the-border-radius);
  backdrop-filter: var(--the-blur);
}
